/* Customize Tooltip */
.google-visualization-tooltip {
    padding:  8px 8px 0 8px !important;
    border: none !important;
    border-radius: 3px !important;
    background-color:#171717 !important;
    color: #FFFFFF ;
}

.google-visualization-tooltip > ul {
    /*text-indent: 20px;*/
    margin-left: -20px;
}



/* annotation text color 변경*/
text[text-anchor="start"] {
    fill: #424242;
}
/*.bar-annotation-text {*/
/*    fill: #424242 !important;*/

/*}*/


/*g:hover >.country-bar:not(:hover) {*/
/*    opacity: .2;*/
/*}*/


.country-pie {
    stroke: transparent;
}


svg:hover >.country-pie:not(:hover) {
    opacity: .2;
}

/*.percentage-text{*/
/*    fill: #FFFFFF !important;*/
/*}*/

path[stroke="#FFFFFF"] {
   /*stroke: transparent !important;*/
}

